body {
    background-color: #f50b59;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #0f0ff7;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
} 
